# Fintech (Django)
django>=5.0
django-ninja>=1.1
psycopg2-binary
celery>=5.3.6
reportlab>=4.1.0

# B2B (FastAPI)
fastapi>=0.109.0
uvicorn>=0.27.0
httpx>=0.26.0
pydantic-settings>=2.1.0
email-validator

# Wspólne
redis>=5.0.1
pydantic>=2.6.0
