@import "tailwindcss";

/* CUSTOM SCROLLBAR */
::-webkit-scrollbar {
  width: 10px;
  height: 10px;
}

::-webkit-scrollbar-track {
  background: #0f172a; /* Slate 950 */
}

::-webkit-scrollbar-thumb {
  background: #1e293b; /* Slate 800 */
  border-radius: 10px;
  border: 2px solid #0f172a; /* Padding effect */
}

::-webkit-scrollbar-thumb:hover {
  background: #3b82f6; /* Blue 500 - Highlight on hover */
}

/* Firefox support */
* {
  scrollbar-width: thin;
  scrollbar-color: #1e293b #0f172a;
}

:root {
  background-color: #0a0a0a;
}

body {
  margin: 0;
  min-height: 100vh;
  overflow-x: hidden;
}
