@import "tailwindcss";

:root {
  font-family: 'Inter', system-ui, Avenir, Helvetica, Arial, sans-serif;
  background-color: #0a0a0a; /* Spójne z naszym designem */
  color: #ffffff;
}

body {
  margin: 0;
  min-height: 100vh;
  /* Usunięto display: flex i place-items: center */
  overflow-x: hidden;
}